<template>
    <div class="{{name}}-wrap">
    </div>
</template>
<script>
    export default {
        name: "{{name}}",
        props: {
            msgCode: {
                type: Number,
                default: 1
            }
        },
        data: function () {
            return {

            };
        },
        methods: {
        },
        computed: {},
        filters: {},
        mounted: function () {

        }


    };


</script>

<style scoped>
</style>
